<script type="module" src="@Assets["Components/Layout/ReconnectModal.razor.js"]"></script>

<dialog id="components-reconnect-modal" data-nosnippet>
    <div class="components-reconnect-container">
        <div class="components-rejoining-animation" aria-hidden="true">
            <div></div>
            <div></div>
        </div>
        <p class="components-reconnect-first-attempt-visible">
            Opnieuw verbinden met de server...
        </p>
        <p class="components-reconnect-repeated-attempt-visible">
            Opnieuw verbinden mislukt... nieuwe poging over <span id="components-seconds-to-next-attempt"></span> seconden.
        </p>
        <p class="components-reconnect-failed-visible">
            Opnieuw verbinden is mislukt.<br />Probeer het opnieuw of herlaad de pagina.
        </p>
        <button id="components-reconnect-button" class="components-reconnect-failed-visible">
            Opnieuw proberen
        </button>
        <p class="components-pause-visible">
            De sessie is door de server gepauzeerd.
        </p>
        <p class="components-resume-failed-visible">
            Hervatten van de sessie is mislukt.<br />Probeer het opnieuw of herlaad de pagina.
        </p>
        <button id="components-resume-button" class="components-pause-visible components-resume-failed-visible">
            Hervatten
        </button>
    </div>
</dialog>
